@font-face {
    font-family: TheDark;
    src: url(../fonts/TheDark.ttf);
}

@font-face {
    font-family: HardRock;
    src: url(../fonts/HARD_ROCK.ttf);
}

@font-face {
    font-family: TypoCrazy;
    src: url(../fonts/rocknroll_typo_crazy.ttf);
}

.bg-body {
    background: linear-gradient(133deg, rgba(0, 0, 0, 1)0% 25%, rgba(255, 0, 0, 0.8)25% 50%, rgba(0, 0, 0, 1)50% 75%, rgba(255, 0, 0, 0.8)75% 100%);
}

h1,
a {
    font-family: TheDark;
}


#groupMembers {
    max-height: 280px;
    min-width: 300px;
}

.card {
    box-shadow: 15px 10px 10px black;
}

.survol:hover,
a:hover {
    background-color: #373b3e !important;
}

input::placeholder,
textarea::placeholder {
    color: red !important;
    font-family: HardRock;
}

button {
    font-family: TypoCrazy !important;
}