.bg-body {
    background: linear-gradient(133deg, rgba(0, 0, 0, 1)0% 33%, rgba(255, 0, 0, 0.8)33% 66%, rgba(0, 0, 0, 1)66% 100%);
}

#groupMembers {
    max-height: 280px;
    min-width: 300px;
}

.card {
    box-shadow: 15px 10px 10px black;
}